.btn-back {
  display: block;
  color: #000000;
  width: 100%;
  border: 2px solid $icon-color;
  border-radius: 20px;
  text-align: center;
  margin: 0;
  padding: 2%;
}

.btn-back__pic {
  width: 20px;
  height: 15px;
}

