.news h1 {
  font-weight: 100;
  letter-spacing: 0.04em;
  line-height: 1;
}

.news time {
  display: block;
  font-size: 0.7em;
  margin: 5% 0;
}

.news__slider {
  margin: 0;
  padding: 0;
}

.news__video-yb {
  width: 100%;
  height: 200px;
}

.news__img-wrap img {
  width: 100%;
}

@media (min-width: $tablet-size) {
  .news__video {
   text-align: center;
  }

  .news__video-yb {
    width: 80%;
    height: 300px;
  }
}

@media (min-width: $desktopFullHd-size) {
  .news__video-yb {
    width: 80%;
    height: 400px;
  }
}