.preview{
  background: $second-color;
}

.preview__news {
  padding: 5% 10% 10%;
  text-align: center;
}

.preview__title {
  font-weight: 100;
  margin: 5% auto 15%;
}

.preview__viewport {
  width: 100%;
  height: 300px;
  display: flex;
  overflow: hidden;
}

.preview__item {
  margin: 0 10px 0 20px;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-width: 250px;
  height: 300px;
  background-color: $desc-color;
}

.preview__bg {
  height: 50%;
  overflow: hidden;
}

.preview__bg img {
  width: 100%;
  overflow: hidden;
}

.preview__desc {
  padding: 5%;
  text-align: left;
  height: 50%;
}

.preview__desc time {
  font-size: 0.7em;
  }
  
.preview__desc p {
  font-size: 0.9em;
}

.preview__nav {
  width: 100%;
  position: relative;
}

.preview__prev, .preview__next {
  display: block;
  position: absolute;
  height: 300px;
  width: 20px;
}

.preview__prev {
  left: -20px;
}

.preview__next {
  right: -20px;
}

.preview__prev-pic, .preview__next-pic {
  width: 20px;
  height: 20px;
  position: absolute;
  top: calc(50% - 10px);
}

.preview__prev-pic {
  left: -20px;
}

.preview__next-pic {
  right: -20px;
}
