.share-news {
  display: flex;
  flex-direction: column;
  margin: 0 auto 5%;
}


@media (min-width: $tablet-size) {
  .share-news {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}