.slider {
  margin: 5% 0;
  height: 280px;
  overflow: hidden;
}

.slider__main-photo {
  margin: 0 0 5%;
  padding: 0;
  position: relative;
  width: 100%;
  height: 180px;
  text-align: center;
  overflow: hidden;
}

.slider__main-photo img {
  min-width: 110%;
}

.slider__description {
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 2% 5%;
  font-size: 0.8em;
  width: 100%;
  height: 30px;
  bottom: 0;
  color: #ffffff;
  background-color: rgba($color: #000000, $alpha: 0.7);
}

.slider__viewport {
  position: relative;
}

.slider__nav {
  position: absolute;
  width: 100%;
  top: 0;
}

.slider__prev, .slider__next {
  position: absolute;
  width: 70px;
  height: 70px;
  font-size: 0;
  cursor: pointer;
  opacity: 0.8;
  z-index: 2;
}

.slider__prev {
  top: 50%;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.8);
}

.slider__next {
  top: 50%;
  right: 0;
  background-color: rgba($color: #000000, $alpha: 0.8);
}

.slider__prev-pic, .slider__next-pic {
  width: 20px;
  height: 20px;
  fill: #ffffff;
  position: absolute;
  top: calc(50% - 7px);
} 

.slider__prev-pic {
  left: calc(50% - 7px);
}

.slider__next-pic {
  right: calc(50% - 7px);
} 

.slider__list {
  background-color: rgba($color: #000000, $alpha: 0.8);
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 70px;
  overflow: hidden;
  text-align: center;
}

.slider__item {
  display: block;
  float: left;
  width: 70px;
  height: 70px;
  overflow: hidden;
}

.slider__item img {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  height: 100%;
}

@media (min-width: $iphone8-size) {
  .slider {
    height: 300px;
  }

  .slider__main-photo {
    height: 200px;
  }

  .slider__item {
    width: 100px;
    height: 70px;
  }
}

@media (min-width: $tablet-size) {
  .slider {
    height: 530px;
  }

  .slider__main-photo {
    height: 400px;
  }

  .slider__description {
    padding: 2% 5%;
    font-size: 1em;
    height: 50px;
  }

  .slider__list {
    height: 100px;
  }
  .slider__item {
    width: 100px;
    height: 100px;
  }

  .slider__prev, .slider__next {
    width: 100px;
    height: 100px;
  }
}

@media (min-width: 1200px) {
  .slider {
    height: 630px;
  }

  .slider__main-photo {
    height: 500px;
  }
}

@media (min-width: 1400px) {
  .slider {
    height: 750px;
  }

  .slider__main-photo {
    height: 600px;
  }
}