.tabs {
  padding: 0;
  display: flex;
}

.tabs__item {
  margin: 0 3% 0 0;
}

.tabs__link {
  color: $icon-color;
  font-size: 0.6em;
}

.tabs__item-pic {
  fill: $icon-color;
  width: 10px;
  height: 10px;
}