html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  min-width: 320px;
  overflow-x: hidden;
  font-family: "Arial", "Tahoma", sans-serif;
  font-weight: normal;
  font-size: 1.3em;
  line-height: 21px;
  color: black;
}

@media (min-width: $tablet-size) {
  body {
    min-width: $tablet-size;
    font-size: 1.2em;
  }
}